.popup-info-cont {
  display: flex;
  align-items: center;
}

.popup-author {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: inline;
}

.popup-img {
  display: block;
  margin-top: 1em;
}

.popup-bttn {
  background-color: rgb(0, 160, 129);
  border: 1px solid white;
  padding: 1em;
  margin-left: 1em;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  border-radius: 6px;
  cursor: pointer;
}

.popup-close-bttn {
  background-color: black;
  color: white;
  border-radius: 50%;
}
